.carousel-frame {
    width: 500px;
    background-color: rgb(250, 171, 171);
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  .carousel-slide {
    display: flex;
  }
  .carousel-item {
    width: 500px;
    height: 40vw;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-item img {
    min-width: 300px;
    min-height: 100%;
  }
  .button {
    padding: 70px 30px;
    position: absolute;
    top: 40%;
    opacity: 0.3;
    background-color: var(--main);
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 0;
    transition: 0.3s;
  }
  .button:hover {
    opacity: 0.8;
  }
  .next {
    right: 0;
  }