@import "variables";

.navigation {
  width: $navigation-width;
  position: fixed;
  border-right: 1px #f3f3f3 solid;
  height: 100vh;
  padding: 0 1.5rem;
  background-color: $main;
  @media screen and (max-width: $mobile) {
    display: none;
  }
  .nav-header {
    .logo {
      max-width: 100%;
      padding: 6rem 3.5rem 3rem 1rem;
    }
    .cart-icon {
      position: absolute;
      top: 2rem;
      right: 2rem;
      .cart-count {
        position: absolute;
        left: 8px;
        top: 7px;
        font-size: 0.8rem;
      }
    }
  }

  .nav-list-primary,
  .nav-list-secondary {
    .nav-list-item-box {
      border-radius: 0.5rem;
      background-color: transparent;
      &:hover {
        .nav-list-item-text {
          text-shadow: none;
          color: #ddd;
          &::after {
            background-color: #ddd;
            width: 100%;
          }
        }
        .fas {
          color: #ddd;
          right: 22px;
        }
      }
    }
    .nav-list-item {
      display: block;
      padding: 0.3rem 1rem;
      position: relative;
      .fas {
        top: 15px;
        position: absolute;
        right: 30px;
        font-size: 0.8rem;
        color: black;
        transition: $transition;
      }
    }
    .nav-list-item-text {
      position: relative;
      font-weight: 600;
      font-size: 1.12rem;
      // text-shadow: 0 0 1px rgb(179, 179, 179);
      color: $font-main;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.01rem;
        background-color: #000;
        transition: $transition;
      }
    }
  }
  .nav-list-secondary {
    padding-top: 3rem;
    .nav-list-item-text {
      font-size: 0.84rem;
      font-weight: 400;
      &:after {
        bottom: 2px;
      }
    }
  }
}
