.product-page{
    display: flex;
    @media screen and (max-width:550px){
        flex-direction: column-reverse;
    }
    .product-info{
        width: 40%;
        padding: 3rem;
        .name{
            text-transform: capitalize;
            font-size: 2rem;
            letter-spacing: .15rem;
        }
        .price{
            display: block;
        }
        .checkout-button{
            width: 100%;
            padding: 1rem;
            border: none;
            border-radius: 0;
            background-color: #000;
            color: #fff;
            transition: .2s linear;
            &:hover{
                background-color: #ddd;
                color: #000;
            }
        }
    }
}