.navigation {
  width: 270px;
  position: fixed;
  border-right: 1px #f3f3f3 solid;
  height: 100vh;
  padding: 0 1.5rem;
  background-color: #fff;
}

@media screen and (max-width: 550px) {
  .navigation {
    display: none;
  }
}

.navigation .nav-header .logo {
  max-width: 100%;
  padding: 6rem 3.5rem 3rem 1rem;
}

.navigation .nav-header .cart-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.navigation .nav-header .cart-icon .cart-count {
  position: absolute;
  left: 8px;
  top: 7px;
  font-size: 0.8rem;
}

.navigation .nav-list-primary .nav-list-item-box,
.navigation .nav-list-secondary .nav-list-item-box {
  border-radius: 0.5rem;
  background-color: transparent;
}

.navigation .nav-list-primary .nav-list-item-box:hover .nav-list-item-text,
.navigation .nav-list-secondary .nav-list-item-box:hover .nav-list-item-text {
  text-shadow: none;
  color: #ddd;
}

.navigation .nav-list-primary .nav-list-item-box:hover .nav-list-item-text::after,
.navigation .nav-list-secondary .nav-list-item-box:hover .nav-list-item-text::after {
  background-color: #ddd;
  width: 100%;
}

.navigation .nav-list-primary .nav-list-item-box:hover .fas,
.navigation .nav-list-secondary .nav-list-item-box:hover .fas {
  color: #ddd;
  right: 22px;
}

.navigation .nav-list-primary .nav-list-item,
.navigation .nav-list-secondary .nav-list-item {
  display: block;
  padding: 0.3rem 1rem;
  position: relative;
}

.navigation .nav-list-primary .nav-list-item .fas,
.navigation .nav-list-secondary .nav-list-item .fas {
  top: 15px;
  position: absolute;
  right: 30px;
  font-size: 0.8rem;
  color: black;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.navigation .nav-list-primary .nav-list-item-text,
.navigation .nav-list-secondary .nav-list-item-text {
  position: relative;
  font-weight: 600;
  font-size: 1.12rem;
  color: #353535;
}

.navigation .nav-list-primary .nav-list-item-text:after,
.navigation .nav-list-secondary .nav-list-item-text:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.01rem;
  background-color: #000;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.navigation .nav-list-secondary {
  padding-top: 3rem;
}

.navigation .nav-list-secondary .nav-list-item-text {
  font-size: 0.84rem;
  font-weight: 400;
}

.navigation .nav-list-secondary .nav-list-item-text:after {
  bottom: 2px;
}

.footer {
  background-color: #000;
  padding: 2em;
  color: #fff;
}

.footer .social-icons-group .fab {
  font-size: 2.2rem;
  padding: .5rem;
  cursor: pointer;
}

.footer .social-icons-group .fab:hover {
  color: #b3b3b3;
}

.footer .footer-form {
  padding: 2rem 0;
  display: block;
}

.footer .footer-form .email-input {
  min-width: 250px;
  margin-top: 2rem;
  padding: .3rem;
  border: none;
  border-right: 1px solid #000;
}

.footer .footer-form .email-input:hover {
  background-color: #b3b3b3;
}

.footer .footer-form .button-input {
  padding: .3rem;
  border: none;
}

.footer .footer-form .button-input:hover {
  background-color: #b3b3b3;
}

.grid_container {
  padding-top: 1.6rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.grid_item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.featured {
  grid-column: span 6 !important;
  grid-row: span 2;
}

@media screen and (min-width: 0px) {
  .xs-1 {
    grid-column: span 1;
  }
  .xs-2 {
    grid-column: span 2;
  }
  .xs-3 {
    grid-column: span 3;
  }
  .xs-4 {
    grid-column: span 4;
  }
  .xs-5 {
    grid-column: span 5;
  }
  .xs-6 {
    grid-column: span 6;
  }
  .xs-7 {
    grid-column: span 7;
  }
  .xs-8 {
    grid-column: span 8;
  }
  .xs-9 {
    grid-column: span 9;
  }
  .xs-10 {
    grid-column: span 10;
  }
  .xs-11 {
    grid-column: span 11;
  }
  .xs-12 {
    grid-column: span 12;
  }
}

@media screen and (min-width: 550px) {
  .lg-1 {
    grid-column: span 1;
  }
  .lg-2 {
    grid-column: span 2;
  }
  .lg-3 {
    grid-column: span 3;
  }
  .lg-4 {
    grid-column: span 4;
  }
  .lg-5 {
    grid-column: span 5;
  }
  .lg-6 {
    grid-column: span 6;
  }
  .lg-7 {
    grid-column: span 7;
  }
  .lg-8 {
    grid-column: span 8;
  }
  .lg-9 {
    grid-column: span 9;
  }
  .lg-10 {
    grid-column: span 10;
  }
  .lg-11 {
    grid-column: span 11;
  }
  .lg-12 {
    grid-column: span 12;
    width: 100%;
  }
}

.spacing-1 {
  gap: 1rem;
}

.spacing-2 {
  gap: 20px;
}

.spacing-3 {
  gap: 30px;
}

.spacing-4 {
  gap: 40px;
}

.card {
  color: #000;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  z-index: 10;
  padding-bottom: 3rem;
  position: relative;
}

.card:hover .name::before {
  width: 100% !important;
}

.card:hover .image-figure .image {
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
  opacity: 0 !important;
}

.card .card-image-container .image-figure {
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.card .card-image-container .image-figure .image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.2s cubic-bezier(0.38, 0.13, 0.75, 0.59), -webkit-transform 0.3s linear;
  transition: opacity 0.2s cubic-bezier(0.38, 0.13, 0.75, 0.59), -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, opacity 0.2s cubic-bezier(0.38, 0.13, 0.75, 0.59);
  transition: transform 0.3s linear, opacity 0.2s cubic-bezier(0.38, 0.13, 0.75, 0.59), -webkit-transform 0.3s linear;
}

.card .card-image-container .image-figure .sub {
  opacity: 1 !important;
}

.card .card-detail {
  bottom: 0;
  position: absolute;
  text-align: left;
  padding: 0.5rem 0 0 0.5rem;
}

.card .card-detail .name {
  display: inline;
  position: relative;
  width: 100%;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.card .card-detail .name::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5px;
  background-color: #000;
  bottom: 3px;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.card .card-detail .price {
  display: block;
  font-size: 0.82em;
}

.cart-item-container {
  padding: 10px 150px;
}

.cart-item {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
  border: solid 1px #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.cart-item .thumbnail {
  cursor: pointer;
  width: 80px;
  height: 90px;
  background: #ddd;
}

.cart-item .thumbnail .thumbnail-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-item .thumbnail .thumbnail-container .product-thumbnail {
  width: 100%;
}

.cart-item .detail {
  margin-left: 1.5rem;
}

.cart-item .qty-input {
  position: absolute;
  right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.cart-item .qty-input input {
  margin-right: -.6rem;
  font-size: .9rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
}

.cart-item .qty-input input::-webkit-outer-spin-button,
.cart-item .qty-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-item .qty-input input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 550px) {
  .product-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.product-page .product-info .sticky-container {
  padding: 3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  bottom: 2rem;
}

.product-page .product-info .name {
  text-transform: capitalize;
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
}

.product-page .product-info .rating {
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0 1rem;
}

.product-page .product-info .rating .MuiRating-iconFilled {
  font-size: 1.1rem;
  color: black;
}

.product-page .product-info .price {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
  padding-bottom: 8rem;
}

.product-page .product-info .price::before {
  content: "$";
  padding-right: 5px;
}

.product-page .product-info .checkout-button {
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0;
  background-color: #000;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.product-page .product-info .checkout-button:hover {
  background-color: #ddd;
  color: #000;
}

.product-page .product-info .affirm-link {
  padding: 0.3rem 0 1rem;
}

.product-page .product-info .affirm-link a {
  position: relative;
  color: #000;
}

.product-page .product-info .affirm-link a:hover {
  color: #bbb;
}

.product-page .product-info .affirm-link a:hover::after {
  background-color: #bbb;
}

.product-page .product-info .affirm-link a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.product-page .product-info .shipping-text {
  padding-bottom: 2rem;
}

.product-page .product-info .MuiAccordion-root {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.product-page .product-info .MuiAccordion-root::before {
  display: none;
}

.product-page .product-info .MuiAccordion-root:hover {
  color: #d1d1d1;
}

.product-page .product-info .MuiAccordion-root:hover .MuiAccordionDetails-root {
  color: black;
}

.product-page .product-info .MuiAccordion-root .Mui-expanded {
  min-height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-page .product-info .MuiAccordion-root .MuiAccordionSummary-content {
  margin: 0;
}

.product-page .product-info .MuiAccordion-root .MuiAccordionSummary-content .MuiTypography-root {
  font-size: 0.83rem;
  line-height: 1.3;
  font-stretch: 100%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  position: relative;
}

.product-page .product-info .MuiAccordion-root .MuiAccordionSummary-content::after {
  content: "+";
  position: absolute;
  font-size: 1.2rem;
  right: 0;
  top: 10px;
}

.product-page .product-info .MuiAccordion-root .MuiAccordionDetails-root .MuiTypography-root {
  font-size: 0.85rem;
  line-height: 1.7;
}

.carousel-frame {
  min-width: 100%;
  min-height: 100vh;
  background-color: #faabab;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel-item {
  width: 100%;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: green;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  padding: 70px 30px;
  position: absolute;
  top: 40%;
  opacity: 0.3;
  background-color: var(--main);
  color: #353535;
  font-size: 2rem;
  border: none;
  border-radius: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  opacity: 1;
}

.next {
  right: 0;
}

.home-carousel1-frame {
  min-width: 100%;
  background-color: #faabab;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.home-carousel1-frame .button {
  padding: 70px 30px;
  position: absolute;
  top: 40%;
  opacity: 0.3;
  background-color: var(--main);
  color: #353535;
  font-size: 2rem;
  border: none;
  border-radius: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-carousel1-frame .button:hover {
  opacity: 1;
}

.home-carousel1-frame .next {
  right: 0;
}

.home-carousel1-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-carousel1-item {
  width: 100%;
  height: 80vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: red;
}

.home-carousel1-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.main-container {
  margin-left: 270px;
}

@media screen and (max-width: 550px) {
  .main-container {
    margin-left: 0;
  }
}

.main-store {
  padding: 2rem;
}

.main-store .crumb-text {
  letter-spacing: 0.02rem;
  font-size: 0.7rem;
  color: black;
}

.main-store .active {
  color: #a8a8a8;
}

.main-store .MuiBreadcrumbs-separator {
  font-size: 0.8rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.main-store header h2 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding: 1rem 0 3.5rem 0;
}

.main-store header span {
  font-size: 0.9rem;
  color: #4b4b4b;
}
/*# sourceMappingURL=app.css.map */