@import "variables";
@import "navigation", "footer", "grid", "card", "cartitem", "productpage",
  "carousel";
@import "homeScreen/carousel1";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.main-container {
  margin-left: $navigation-width;
  @media screen and (max-width: $mobile) {
    margin-left: 0;
  }
}
.main-store {
  padding: 2rem;
  .crumb-text {
    letter-spacing: 0.02rem;
    font-size: 0.7rem;
    color: rgb(0, 0, 0);
  }
  .active {
    color: rgb(168, 168, 168);
  }
  .MuiBreadcrumbs-separator {
    font-size: 0.8rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  header {
    h2 {
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 0.05rem;
      padding: 1rem 0 3.5rem 0;
    }
    span {
      font-size: 0.9rem;
      color: rgb(75, 75, 75);
    }
  }
}

.register-page {
  margin: auto;
  .register-form {
    max-width: 800px;
    min-width: 400px;
    width: 60%;
    background-color: red;
  }
}
