@import "variables";
@import "components/navigation", "components/footer", "components/Sidebar";
@import "store/card", "store/grid";
@import "productpage/productpage", "productpage/carousel";
@import "home/home", "home/carousel1";
@import "cart/cart", "cart/cartitem";
@import "pages/registration", "pages/login", "pages/information";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

.main-container {
	margin-left: $navigation-width;
	@media screen and (max-width: $mobile) {
		margin-left: 0;
	}
}
.main-store {
	padding: 2rem;
	header {
		padding: 1rem 0 0 0.5rem;
		h2 {
			font-size: 1.8rem;
			font-weight: 600;
			letter-spacing: 0.05rem;
			padding: 1rem 0 2rem 0;
		}
		span {
			font-size: 0.9rem;
			color: rgb(75, 75, 75);
		}
	}
}
.breadcrumb {
	padding-bottom: 2rem;
	.crumb-text {
		letter-spacing: 0.02rem;
		font-size: 0.8rem;
		color: rgb(0, 0, 0);
	}
	.active {
		color: rgb(168, 168, 168);
	}
	.MuiBreadcrumbs-separator {
		font-size: 0.8rem;
		margin-left: 0.3rem;
		margin-right: 0.3rem;
	}
}
.checkout-breadcrumb {
	padding-bottom: 0;
	.crumb-text {
		font-size: 0.75rem;
	}
}
.clickable {
	cursor: pointer;
}
.horizontal-line {
	position: relative;
	text-align: center;
	hr {
		margin: 20px 0;
		background: rgb(231, 231, 231);
		height: 1px;
		border: none;
	}
	span {
		color: rgb(199, 199, 199);
		position: absolute;
		top: -5px;
		padding: 0 10px;
		background-color: rgb(255, 255, 255);
	}
}
