@import "variables";
@import "navigation", "footer", "grid", "card","cartitem";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.main-container {
  margin-left: $navigation-width;
  @media screen and (max-width: $mobile) {
    margin-left: 0;
  }
}
