@import "variables";

.navigation{
    width: $navigation-width;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: $main;
    @media screen and (max-width:500px){
        display: none;
    }
    .nav-header{
        padding: 30px 0 50px ;
        // background-color: gray;
    }
    .nav-list{
        padding: 0 1rem;
    }
    .nav-list-item-box{
        border-radius: .5rem;
        background-color: transparent;
        &:hover{
            background-color: darken($main,20%);
        }
    }
    .nav-list-item{
        display: block;
        padding: .5rem 1rem;
       
    }
    .nav-list-item-text{
        position: relative;
        color: $font-main;
        &:hover:after{
            width: 100%;
        }
        &:after{
            content:"";
            position:absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: #000;
            transition: $transition;
        }
       
    }



}