.information-screen {
	font-family: "Segoe UI", sans-serif;
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	.form-container {
		display: flex;
		flex: 1 1 60%;
		justify-content: right;
		.form {
			max-width: 900px;
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			padding: 50px;
			.logo-container {
				width: 100%;
				margin-bottom: 20px;
				font-size: 1.9rem;
				color: #333333;
			}
			.header {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				align-items: flex-end;
				margin: 30px 0 5px 0;
				h4 {
					flex: 1 1 auto;
					font-size: 1.2rem;
					font-weight: 400;
				}
				span {
					flex: 0 0 auto;
					font-size: 0.9rem;
				}
				a {
					color: black;
				}
			}
			.input {
				border: #d9d9d9 solid 1px;
				border-radius: 5px;
				flex: 1 1 100%;
				height: 45px;
				padding: 10px;
				margin: 10px 0;
			
			}
			.half {
				flex: 1 1 200px;
			}
			.first-name{
				margin-right: 10px;
				@media screen and (max-width:$mobile) {
				margin-right: 0;
				}
			}
			.input-check {
				display: flex;
				color: #868686;
				.checkbox {
					cursor: pointer;
					align-self: flex-start;
					margin: 3px 8px;
					color: black;
					:checked {
						color: black;
						background-color: black;
					}
				}
				p {
					font-size: 0.8rem;
				}
			}
			.button {
				cursor: pointer;
				padding: 20px;
				color: white;
				border: none;
				border-radius: 8px;
				font-size: 0.9rem;
				background-color: #111111;
			}
			.back-button {
				background-color: transparent;
				color: #111;
			}
			// Shipping page style and Payment page
			.info-container {
				margin: 30px 0 10px 0;
				width: 100%;
				border: 1px solid rgb(231, 231, 231);
				padding: 15px;
				border-radius: 5px;
				.horizontal-line {
					hr {
						margin: 15px 0;
						padding: 0;
					}
				}
				.infobit-container {
					display: flex;
					font-size: 0.8rem;
					align-items: center;
					flex-direction: row;
					flex-wrap: wrap;
					.title {
						flex: 0 0 80px;
						color: #666;
					}
					.content {
						flex: 1 1 auto;
						color: #333;
					}
					.change-button {
						flex: 0 0 0;
						background-color: transparent;
						color: #111;
						border: none;
						cursor: pointer;
						font-size: 0.72rem;
					}
					.radio-input {
						display: flex;
						.radio {
							align-self: center;
							width: 15px;
							height: 15px;
							border-radius: 50%;
							margin-right: 20px;
							appearance: none;
							border: 1px solid black;
							transition: 0.2s ease-in-out;
							cursor: pointer;
						}
						.radio-checked {
							border-width: 6px;
						}
					}
					.shipping-option-price {
						font-size: 0.8rem;
						font-weight: 600;
					}
				}
			}
			@media screen and (max-width: $mobile) {
				padding: 20px;
			  }
		}
	}

}
