@import "../variables";
.home-carousel1-frame {
	// background: rgb(197, 197, 197);
	z-index: 3;
	overflow: hidden;
	position: relative;
	.home-carousel1-slide {
		display: flex;
		.home-carousel1-item {
			width: 100%;
			height: 80vh;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			filter: brightness(70%);
			transition: filter 1s;
			transition: 0.6s linear;
			position: relative;
			.slide-card {
				position: absolute;
				bottom: 100px;
				left: 100px;
				color: #fff;
				.slide-title {
					font-size: 2rem;
					color: inherit;
				}
				.slide-subheading {
					font-size: 1rem;
					color: inherit;
					padding: 0.5rem 0 1rem 0;
				}
				.slide-button {
					padding: 15px 20px;
					border-radius: 0;
					color: inherit;
					background-color: rgb(252, 252, 252);
					border: none;
					@include main-font;
					font-size: 0.8rem;
					&:hover {
						background-color: rgb(194, 194, 194);
					}
				}
			}
			.top {
				bottom: unset;
				top: 100px;
			}
			.dark {
				color: #222 !important;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
			@media screen and (max-width: $mobile) {
				height: 35vh;
				max-height: 400px;
				.slide-card {
					bottom: 40px;
					left: 40px;
					.slide-title {
						font-size: 1.7rem;
					}
					.slide-subheading {
						font-size: 0.8rem;
					}
				}
				img {
					object-position: left;
				}
				.top {
					bottom: unset;
					top: 40px;
				}
			}
		}
		.active {
			filter: brightness(100%);
		}
	}
	

	.dots {
		display: flex;
		position: absolute;
		padding: 0 5px;
		border-radius: 20px;
		left: 50%;
		bottom: 1rem;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		background-color: rgb(85, 85, 85);
		.dot {
			padding: 4px;
			margin: 4px;
			border-radius: 10px;
			background-color: rgb(251, 251, 251);
			cursor: pointer;
		}
		.active {
			background-color: #000;
		}
	}
}
