.home {
  .card-container {
    display: flex;
    justify-content: space-around;
    padding: 100px 5%;
    flex-wrap: wrap;
  }
  .card {
    padding: 0 20px;
    margin: 20px 0;
    flex: 1 1 170px;
    .image-container {
      //   background-color: red;
      // min-width: 200px;
      margin-bottom: 2rem;
      overflow: hidden;
      figure {
        padding-top: 67%;
        position: relative;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .text-container {
      min-height: 50px;
      //   background-color: green;
      .title {
        padding-bottom: 1rem;
      }
      .content {
        font-size: 0.8rem;
        line-height: 1.8;
      }
    }
  }
  @media screen and (max-width: $mobile+200) {
    .card {
      flex: 0 0 100%;
    }
  }
}
