.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
    padding: 2em;
    color: #fff;
    width: 100%;
    .socials{
        flex: 1 1 350px;
        .social-icons-group{
            .fab{
                font-size: 2.2rem;
                padding: .5rem;
                cursor: pointer;
                &:hover{
                    color:darken(#fff,30%)
                }
            }
        }
        .footer-form{
            padding: 2rem 0;
            display: block;
            .email-input{
                min-width: 250px;
                margin-top: 2rem;
                padding: .3rem;
                border:none;
                border-right: 1px solid #000;
                appearance: none;
                &:hover{
                    background-color: darken(#fff,30%);
                }
                &:focus, &:active{
                   border: none;
                }
            }
            .button-input{
                padding: .3rem;
                border:none;
                border-radius: 2px;
                &:hover{
                    background-color: darken(#fff,30%);
                }
            }
        }
    }
    .footer-links{
        flex: 0 1 100%;
        color: #fff;
        .link-list{
            .link{
                display: block;
                margin-bottom: 7px;
                color: #fff;
            }
        }
    }
    @media screen and (max-width:$mobile){
        flex-wrap: wrap;
    padding: 1rem;

    text-align: center;
    }
}