.sidebar {
	flex: 1 1 40%;
	background-color: #fafafa;
	padding: 50px 3rem;
	.sidebar-content {
		max-width: 750px;
		.cart-item {
			position: relative;
			.thumbnail {
				border-radius: 15px !important;
				border: 1px #ccc solid;
				cursor: default;
			}
			.detail {
				display: flex;
				align-items: center;
				color: rgb(32, 32, 32);
				font-size: 1.2rem;
				.name {
					flex: 1 1 auto;
					font-weight: 500;
				}
				.price {
					flex: 0 0 auto;
					font-weight: 500;
				}
			}
			.qty {
				position: absolute;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				background-color: rgba(75, 75, 75, 0.842);
				color: white;
				font-size: 600;
				width: 26px;
				height: 26px;
				border-radius: 13px;
				top: -10px;
				left: 80px;
			}
		}

		.discount-input {
			display: flex;
			.input {
				border: #d9d9d9 solid 1px;
				border-radius: 5px;
				flex: 1 1 100%;
				height: 45px;
				padding: 10px;
				margin: 10px 0;
			}
			button {
				margin: 10px 0 10px 10px;
				padding: 0 25px;
				border-radius: 5px;
				border: none;
				background-color: #c7c7c7;
				color: white;
				cursor: pointer;
				font-weight: 600;
			}
		}

		.fees {
			display: flex;
			width: 100%;
			margin: 5px 0;
			font-size: 0.9rem;
			.fee-title {
				flex: 1 1 auto;
				color: #5f5f5f;
			}
			.value {
				flex: 0 0 auto;
				font-weight: 600;
				color: #0c0c0c;
			}
		}
		.total {
			align-items: flex-end;
			font-size: 1.1rem;
			.value {
				font-size: 1.4rem;
			}
		}
	}
	@media screen and (max-width: $mobile) {
		padding: 30px 1rem;
}
}
